@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  background-color: #f1f1f1;
  color: #0f141e;
  font-size: 16px;
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 750px;
  margin: auto;
  padding-top: 30px;
}
a {
  color: black;
  text-decoration: none;
}
.avatar {
  width: 200px;
  border-radius: 28px;
}
.avatar {
  box-shadow: 2 4 6 2px rgba(0, 0, 0, 0.25);
}
.info {
  display: flex;
  margin-bottom: 20px;
}
.info-text {
  margin-left: 40px;
}
.info p {
  color: black;
  margin: 0;
}
.bg-orange {
  background: darkgoldenrod;
}
.bg-blue {
  background: deepskyblue;
}
.bg-violet {
  background: darkorchid;
}
.card {
  padding: 15px 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}
.card h2 {
  margin-bottom: 10px;
}
ol {
  padding: 0 20px;
}
li {
  color: black;
  margin-bottom: 10px;
}
table {
  width: 100%;
}
table td {
  padding-bottom: 10px;
}